---
import Asterisco from "~/assets/icons/Asterisco.astro"
import Section from "./Section.astro"

const NAVIGATION = [
  {
    name: 'Nosotros',
    href: '/about',
  },
  {
    name: 'Contacto',
    href: '/contact',
  }
]
---

<header class="border-b border-gray-300">
  <Section class="flex items-center justify-between" padingVertical="small">
    <div class="flex items-center gap-2">
      <Asterisco />
      <a href="/">
        <h2>
          YourBus
        </h2>
      </a>
    </div>
    <nav>
      <ul class="flex items-center gap-4">
        {
          NAVIGATION.map(({ name, href }) => (
            <li>
              <a href={href} class="text-base">{name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </Section>
</header>
