<form action="" class="max-w-[350px] md:max-w-[450px] w-full bg-white mx-auto border-slate-400 border flex p-1 mt-8 rounded-3xl gap-4 overflow-hidden">
  <input type="email" class="block w-full min-w-fit p-2 md:p-3 text-sm md:text-base bg-transparent" placeholder="Dirección de correo electrónico"/>
  <button type="submit" class="bg-blue-600 p-2 px-3 md:p-3 md:px-4 rounded-3xl text-white text-sm md:text-base font-bold">Notificarme</button>
</form>

<style>
  input:focus {
    box-shadow: none;
    outline: none;
    border: none;
  }
</style>
